.fellowship {
  @include row;
  padding-top: $section-margin;
  text-align: center;

  h2 {
    color: $ssg-green;
  }

  .fellowship-details {
    @include row;
    margin-bottom: 3em;
    text-align: left;

    li {
      @include media($large-screen) {
        @include span-columns(4);
      }
    }

    h3 {
      color: $ssg-green;
    }
  }

  .fellowship-details {
    text-align: left;

    @include media($large-screen) {
      @include span-columns(6);
    }

    li {
      @include row;
      margin-bottom: 1em;
    }

    time {
      color: lighten($medium-gray, 10);
      font-size: em(14);
      line-height: 1.2;
      margin-top: .25em;

      .date {
        display: block;
      }

      @include media($small-screen) {
        @include span-columns(1 6);
      }
    }

    .hgroup {
      @include media($small-screen) {
        @include span-columns(3 6);
      }

      h4 {
        color: $dark-gray;
      }
    }

    .register {
      background-color: $ssg-green;
      border-radius: $base-border-radius;
      color: white;
      font-family: $header-font-family;
      padding: 0.5em 1em;
      text-align: center;

      @include media($small-screen) {
        @include span-columns(2 6);
        padding: .25em 1em;
      }

      &:hover,
      &:focus {
        background-color: darken($ssg-green, 15);
      }

      &.disabled {
        background-color: $medium-gray;
        cursor: default;
      }
    }
  }

  .photos {
    li {
      margin-bottom: 1.5em;

      @include media(min-width $medium-screen max-width $large-screen) {
        @include span-columns(6);
        @include omega(2n);
      }

      @include media($large-screen) {
        @include span-columns(3);
      }
    }
  }
}
