footer {
  margin-bottom: 3em;
  text-align: center;

  h1 {
  }

  .thoughtbot {
    margin-bottom: 3em;

    a {
      display: block;
      font-family: $header-font-family;
      font-size: em(20);
    }
  }
}

