footer {
  margin-bottom: $section-margin;
  text-align: center;

  h1.logo {
    @include hide-text();
    @include size(5em 4em);
    background-image: url("/images/startstaygrow-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  hr {
    width: 3em;
    margin: 2em auto;
  }

  .thoughtbot {
    background-image: url("/images/thoughtbot.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 8em;
    padding-bottom: 9em;

    a {
      display: block;
      font-family: $header-font-family;
      font-size: em(20);
    }
  }
}

