.main-content {
  @include outer-container;
  padding-top: 3em;

  h2 {
    border: 2px solid;
    display: inline-block;
    font-size: em(14);
    letter-spacing: 1px;
    padding: .5em .75em;
    text-transform: uppercase;
    margin-bottom: 2em;
  }
}
