nav.main {
  li {
    display: inline-block;
    margin-right: 1em;

    a {
      color: $ssg-green;
      font-family: $header-font-family;
      font-size: em(14);
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:hover, &:focus {
        color: lighten($ssg-green, 15);
      }
    }
  }
}

