.partners {
  padding-top: $section-margin;
  text-align: center;

  h2 {
    color: $ssg-blue;
  }

  ul {
    @include row;
  }

  li {
    margin-bottom: 2em;

    @include media(min-width $small-screen max-width $medium-screen) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media(min-width $medium-screen max-width em(1099)) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media(em(1100)) {
      @include span-columns(2);
      margin-bottom: 0;
    }

    $partners: psl 0, technically 20px, campus-philly 18px, nvigor 30px, blackstone 40px, startup-phl 0;

    @each $partner, $top in $partners {
      &.#{$partner} a {
        background-image: url("/images/partners/" + $partner + ".png");
        background-position: center $top;

        &:hover {
          background-image: url("/images/partners/" + $partner + "-color.png");
        }
      }
    }
  }

  a {
    background-repeat: no-repeat;
    color: darken($ssg-blue, 20);
    display: block;
    padding-top: 8em;
    position: relative;

    &:hover {
      .partner-info {
        @include transition(opacity 0.5s ease-in-out);
        opacity: 1;
      }
    }

    .partner-info {
      @include transition(opacity 0.5s ease-in-out);
      @include position(absolute, null -2em null -2em);
      background-color: darken($ssg-blue, 40);
      color: white;
      opacity: 0;
      margin-top: 1.5em;
      padding: 1em;
      text-align: left;
      z-index: $base-z-index + 3;

      @include media($max-width) {
        @include position(absolute, null -3em null -3em);
      }

      &:before {
        @include position(absolute, -0.75em null null 50%);
        @include size(1.5em);
        @include transform(rotate(45deg));
        background-color: darken($ssg-blue, 40);
        content: "";
      }
    }
  }
}
