.partners {
  padding-top: $section-margin;
  text-align: center;

  h2 {
    color: $ssg-dark-green;
  }

  ul {
    @include row;
    display: inline-block;
  }

  li {
    
    @include media(min-width $small-screen max-width $medium-screen) {
      @include span-columns(5);
      @include omega(2n);
    }

    @include media(min-width $medium-screen max-width em(1099)) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media(em(1100)) {
      @include span-columns(2);
    }

    h5.lia {
    @include hide-text();
    @include size(5em);
    background-image: url("/images/partners/lia-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }
    
    h5.veryapt {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/veryapt-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.oncora {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/oncora-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.leagueside {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/leagueside-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.compass {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/compass-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }
    
    h5.towerview {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/towerview-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.kickup {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/kickup-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.luxtech {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/luxtech-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.setvi {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/setvi-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.guru {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/guru-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.smartypal {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/smartypal-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.sidecar {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/sidecar-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.petcoach {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/petcoach-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.doze {
    @include hide-text();
    @include size(8em);
    background-image: url("/images/partners/doze-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.wegardn {
    @include hide-text();
    @include size(6em);
    background-image: url("/images/partners/wegardn-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }

    h5.houwzer {
    @include hide-text();
    @include size(6em);
    background-image: url("/images/partners/houwzer-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }
  }
}