.partners {
  text-align: center;
  margin-bottom: $section-margin;

  h2 {
    color: $ssg-blue;
  }

  ul {
    @include row;
  }

  li {
    @include span-columns(2);
  }

  a {
    color: darken($ssg-blue, 20);
    position: relative;

    &:hover {
      .partner-info {
        display: block;
      }
    }

    .partner-info {
      @include position(absolute, null null null -150px);
      background-color: darken($ssg-blue, 40);
      color: white;
      display: none;
      margin-top: 1em;
      padding: 1em;
      width: 300px;

      &:before {
        @include position(absolute, -0.75em null null 50%);
        @include size(1.5em);
        @include transform(rotate(45deg));
        background-color: darken($ssg-blue, 40);
        content: "";
      }
    }
  }
}
