.positions {
  padding-top: $section-margin;
  text-align: center;
  
  h2 {
    color: $ssg-blue;
  }

  h3 {
    color: $ssg-blue;
  }
  
  h5 {
    color: $dark-gray;
  }

  ul {
    @include row;
    text-align: left;
  }

  li {
    @include media($large-screen) {
      @include span-columns(3);
    }
  }
}
