.sponsors {
  padding-top: $section-margin;
  text-align: center;

  h2 {
    color: $ssg-blue;
  }

  h3.comcast {
  @include hide-text();
  background-image: url("/images/sponsors/comcast-color.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  }
}

