.sponsors {
  padding-top: $section-margin;
  text-align: center;

  h2 {
    color: $ssg-blue;
  }

    h3.logoC {
    @include hide-text();
    @include size(15em 10em);
    background-image: url("/images/sponsors/comcast-nbcuniversal-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

    h3.logoS {
    @include hide-text();
    @include size(15em 8em);
    background-image: url("/images/sponsors/safeguard-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
}

